# -----------------------------------------------------------
# 1. PYTHON (Кэш, виртуальные окружения и сборка)
# -----------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
.eggs/
build/
dist/
sdist/
lib/
lib64/
parts/
var/
wheels/
.installed.cfg
.Python

# Виртуальные окружения
.venv/
venv/
env/
ENV/

# -----------------------------------------------------------
# 2. ТЕСТИРОВАНИЕ И АНАЛИЗ (Pytest, Coverage, Allure)
# -----------------------------------------------------------
.pytest_cache/
.coverage
htmlcov/
.analytics/
*.cover
*.py,cover
.tox/
.nox/
.hypothesis/

# Allure отчеты и результаты
allure-results/
allure-report/

# Типизация и линтеры
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/

# -----------------------------------------------------------
# 3. NODE.JS / FRONTEND (Allure CLI)
# -----------------------------------------------------------
node_modules/
npm-debug.log
yarn-error.log

# -----------------------------------------------------------
# 4. СЕКРЕТЫ И КОНФИГУРАЦИЯ
# -----------------------------------------------------------
.env
.env.*
!.env.example
*.key
*.pem

# IDE (PyCharm, VSCode)
.idea/
.vscode/
*.swp
*.swo
*~

# -----------------------------------------------------------
# 5. БАЗЫ ДАННЫХ И ЛОГИ
# -----------------------------------------------------------
*.db
*.sqlite
*.sqlite3
*.log
logs/
tmp/
temp/

# Данные Docker-томов
postgres_data/
redis_data/

# -----------------------------------------------------------
# 6. СИСТЕМНЫЕ ФАЙЛЫ
# -----------------------------------------------------------
.DS_Store
Thumbs.db
desktop.ini

# -----------------------------------------------------------
# 7. СПЕЦИФИКА ПРОЕКТА
# -----------------------------------------------------------

celerybeat-schedule
celerybeat.pid
